{% load static %}
{% load custom_tags %}

<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Explore Top Brands</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            
            <div class="col-12 col-md-3 mb-4">
                <div class="product-card">
                    
                    <div class="product-tumb">
                      <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/a88b9390-5adb-493b-a1b3-702c59ccf53a1598348260502-Nike.jpg" alt="">
                    </div>
                    
                  </div>
                  
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="product-card">
                    
                    <div class="product-tumb">
                      <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/c9f66558-feab-4d76-aa3c-adc68d81dce21598348260415-Levis.jpg" alt="">
                    </div>
                    
                  </div>
                  
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="product-card">
                    
                    <div class="product-tumb">
                      <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/774f42c4-f459-4514-9b90-cf8a60a5f68c1596644478087-hrx30.jpg" alt="">
                    </div>
                    
                  </div>
                  
            </div>
            <div class="col-12 col-md-3 mb-4">
                <div class="product-card">
                    
                    <div class="product-tumb">
                      <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/f2fdda02-423c-4f11-8f1b-618ba807e5841598348260323-H_M.jpg" alt="">
                    </div>
                    
                  </div>
                  
            </div>
            
    </div>
</section>
<!-- End Featured Product -->
