{% load custom_tags %}




<footer class="bg-dark text-center text-lg-start footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <h5 class="text-uppercase">Product</h5>

          <ul class="list-unstyled mb-0 flink">
            <li>
              <a href="#!"  >Features</a>
            </li>
            <li>
              <a href="#!" >Integrations</a>
            </li>
            <li>
              <a href="#!" >Pricing</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <h5 class="text-uppercase">Company</h5>

          <ul class="list-unstyled mb-0 flink">
            <li>
              <a href="#!" >Privacy</a>
            </li>
            <li>
              <a href="#!" >Terms of Services</a>
            </li>
            <li>
              <a href="#!" >Pricing</a>
            </li>
            <li>
              <a href="#!" >FAQ</a>
            </li>
          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0 ">
          <h5 class="text-uppercase mb-0 ss">Follow Us</h5>

          <ul class="list-unstyled" style="display: inline;">
            <li>
              <a href="#!" class="text-dark">
                <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"
                style="height: 30px;width: 30px;" />
                
              </a>
              
            </li>
            <li>
              <a href="#!" >
                <img src="https://img.icons8.com/color/64/000000/instagram-new--v1.png"
                style="height: 30px;width: 30px; " />
                
              </a>
              
            </li>
            <li>
              <a href="#!" >
                <img src="https://img.icons8.com/fluent/48/000000/twitter.png"
                style="height: 30px;width: 30px; " />
                
              </a>
              
            </li>
            
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 flink" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a  href="/">Buyzu</a>
      <div>&nbsp;All rights reserved.</div>

    </div>
    <!-- Copyright -->
  </footer>