{% extends "product/layout.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}{{product.name}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">
{% endblock %}
{% block body %}








<section id="product-detail">
	<div class="container">
		<div class="image-viewer">
			<div class="main-image">
				<img src="{{product.image1}}" />
			</div>
			<div class="secondary-images">
				<div class="secondary-image">
					<img src="{{product.image1}}" />
				</div>
				<div class="secondary-image">
					<img src="{{product.image2}}" />
				</div>
				<div class="secondary-image">
					<img src="{{product.image3}}" />
				</div>
				<div class="secondary-image">
					<img src="{{product.image4}}" />
				</div>

			</div>
		</div>
		<div class="detail">
			<h1 class="detail-name">{{product.name}} </h1>
			<p class="detail-short-description">
				{{product.subtitle}}
			</p>
			<div class="detail-long-description">
				<p>
					{{product.description|linebreaks}}
				</p>


			</div>
		</div>
		<div class="pricing">
			<div class="pricing-price">₹{{product.price}}</div>
			<form action="{% url 'cart:cart_add' product.id %}" method="post">
				{{ cart_product_form }}<br>
				{% csrf_token %}
				<input class="btn pricing-btn mt-3" type="submit" value="Add to cart">

			</form>

		</div>
		<div class="lightbox" id="lightbox">
			<img src="http://placehold.it/650x650" />
			<div class="lightbox-controls">
				<div class="lightbox-controls-close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="lightbox-controls-previous">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
				</div>
				<div class="lightbox-controls-next">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>
			</div>
		</div>

	</div>
</section>
{% if recommended_products %}


<div class="recommendations">
	<h3>People who bought this also bought</h3>
	<div class="row">
		{% for product in recommended_products %}
			{% product_list product wishlist %}
		{% endfor %}
	</div>

</div>


{% endif %}
<div class="container-fluid">
	<h3>similar products</h3>
	<div class="row">
		{% for product in products %}
		{% product_list product wishlist %}
		{% endfor %}


	</div>
</div>








{% endblock %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
	class ImageViewer {
		constructor(selector) {
			this.selector = selector;
			$(this.secondaryImages).click(() => this.setMainImage(event));
			$(this.mainImage).click(() => this.showLightbox(event));
			$(this.lightboxClose).click(() => this.hideLightbox(event));
		}

		get secondaryImageSelector() {
			return '.secondary-image';
		}

		get mainImageSelector() {
			return '.main-image';
		}

		get lightboxImageSelector() {
			return '.lightbox';
		}

		get lightboxClose() {
			return '.lightbox-controls-close';
		}

		get secondaryImages() {
			var secondaryImages = $(this.selector).find(this.secondaryImageSelector).find('img')
			return secondaryImages;
		}

		get mainImage() {
			var mainImage = $(this.selector).find(this.mainImageSelector);
			return mainImage;
		}

		get lightboxImage() {
			var lightboxImage = $(this.lightboxImageSelector);
			return lightboxImage;
		}

		setLightboxImage(event) {
			var src = this.getEventSrc(event);
			this.setSrc(this.lightboxImage, src);
		}

		setMainImage(event) {
			var src = this.getEventSrc(event);
			this.setSrc(this.mainImage, src);
		}

		getSrc(node) {
			var image = $(node).find('img');
		}

		setSrc(node, src) {
			var image = $(node).find('img')[0];
			image.src = src;
		}

		getEventSrc(event) {
			return event.target.src;
		}

		showLightbox(event) {
			this.setLightboxImage(event);
			$(this.lightboxImageSelector).addClass('show');
		}

		hideLightbox() {
			$(this.lightboxImageSelector).removeClass('show');
		}
	}

	new ImageViewer('.image-viewer');
</script>
{% endblock %}