{% extends "product/layout.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}Buyzu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">

{% endblock %}
{% block body %}


<div class="container">
  <div class=" d-flex flex-wrap bd-highlight justify-content-around">
    <div class="order-2 p-2 mb-3 mt-3 bd-highlight">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Filter <i class="fa fa-filter" aria-hidden="true"></i></button>
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filters</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-3">
          <form action="" method="get">
        
            {% filterForm form %}
            <input class="btn btn-outline-primary" type="submit" value=" Apply filter">
          </form>
          
        </div>
      </div>
    </div>
    <div class="order-1 p-2 bd-highlight mt-3">
      <h1 >
        {% if category %}{{ category.name }}{% else %}Products
        {% endif %}
        
      </h1>
    </div>
    <div class="order-3 p-2 bd-highlight mt-3">
      {% if category %}
        <form id="sort_form"  action="" method="get" >
          {{sort_form.as_p}}
          
        </form>
      {% endif %}
    </div>

  </div>
   
  <div class="row">

    {% for product in products  %}
      {% product_list product wishlist %}
    {% empty %}
    <h4 class="text-center">No results...</h4>
    {% endfor  %}
    

  </div>
</div>



{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('.filter-name').click();
  });
  

</script>
{% endblock %}