{% extends "product/layout.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}Buyzu: WishList{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">

{% endblock %}
{% block body %}
<div class="container">
  <h2 class="m-3">
    Wishlist
  </h2>
  <div class="row">
    {% for product in products  %}
    {% product_list product wishlist %}

    {% empty %}

    <div >
      <h3 class="text-danger text-center">Wishlist is Empty</h3>
    </div>
    {% endfor %}

  </div>


</div>
    
  
 

{% endblock %}